<main>
    <h1 class="visually-hidden">NGX Splide examples</h1>

    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Default</h1>
        <div class="col-lg-6 mx-auto">
            <splide>
                <splide-slide>
                    <img src="assets/daffodil-1378489.jpg" alt="" />
                </splide-slide>
                <splide-slide>
                    <img src="assets/sun-burst-1478549.jpg" alt="" />
                </splide-slide>
                <splide-slide>
                    <img src="assets/sunset-jungle-1383333.jpg" alt="" />
                </splide-slide>
            </splide>
        </div>
    </div>

    <hr>

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <splide [options]="{ type: 'loop', perPage: 1, keyboard: false, fixedHeight: 400 }">
                    <splide-slide *ngFor="let image of images">
                        <img [src]="image.src" alt="" />
                    </splide-slide>
                </splide>
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">With options</h1>
                <pre><code [innerText]="options_code"></code></pre>
            </div>
        </div>
    </div>

    <hr>

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Vertical example (Autoheight)</h1>
                <pre><code [innerText]="autoheight_code"></code></pre>
            </div>
            <div class="col-10 col-sm-8 col-lg-6">
                <splide [options]="{
                    type      : 'loop',
                    direction : 'ttb',
                    height    : '20rem',
                    focus     : 'center',
                    autoHeight: true
                }">
                    <splide-slide *ngFor="let image of images">
                        <div style="height: 20rem;">
                            <img [src]="image.src" alt="" />
                        </div>
                    </splide-slide>
                </splide>
            </div>
        </div>
    </div>

    <hr>

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <splide #mainSplide [options]="{ type: 'slide', pagination: false, arrows: false,drag: true, lazyLoad: 'nearby', preloadPages: 3, fixedHeight: 400 }">
                    <splide-slide *ngFor="let image of images">
                        <img [src]="image.src" alt="" />
                    </splide-slide>
                </splide>

                <splide [syncWith]="mainSplide" [options]="{ rewind: true, isNavigation: true, gap: 5, focus: 'center', pagination: false, cover: true, lazyLoad: 'nearby', preloadPages: 20, fixedWidth: 60, fixedHeight: 60 }">
                    <splide-slide *ngFor="let image of images">
                        <img [src]="image.src" alt="" />
                    </splide-slide>
                </splide>
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Sync (<a href="https://splidejs.com/guides/apis/#sync" target="_blank">docs</a>)</h1>
                <p>You can sync splide instances</p>

                <p>Create <code>@ViewChild</code> in your controller:</p>
                <pre><code>@ViewChild('mainSplide') mainSplide: NgxSplideComponent;</code></pre>

                <p>And pass instances you want to sync with <code>[syncWith]</code> attribute</p>
                <pre><code [innerText]="sync_code"></code></pre>
            </div>
        </div>
    </div>

    <hr>

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <splide [(selectedSlideIndex)]="currentImageIndex" [options]="runtimeOptions">
                    <splide-slide *ngFor="let image of runtime_images">
                        <img [src]="image.src" alt="" />
                    </splide-slide>
                </splide>
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Select slide</h1>

                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary" [ngClass]="{ 'active': index === currentImageIndex }" (click)="currentImageIndex = index" *ngFor="let image of runtime_images; let index = index">Image {{ index + 1 }}</button>
                </div>

                <p class="pt-3">
                    <button type="button" class="btn btn-secondary" (click)="addNewSlide()">Add new slide</button>
                </p>

                <div class="mb-3">
                    <label for="runtime-options-per-page" class="form-label">Per page</label>
                    <select id="runtime-options-per-page" class="form-select" [(ngModel)]="runtimeOptions.perPage" (ngModelChange)="updateRuntimeOptions()">
                        <option value="1" [ngValue]="1">1</option>
                        <option value="2" [ngValue]="2">2</option>
                        <option value="3" [ngValue]="3">3</option>
                        <option value="4" [ngValue]="4">4</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="runtime-options-speed" class="form-label">Speed in ms.</label>
                    <input id="runtime-options-speed" type="number" class="form-control" [(ngModel)]="runtimeOptions.speed" (ngModelChange)="updateRuntimeOptions()" />
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <splide [options]="runtimeOptions" (onSplideEvent)="onSplideEvent($event)" (onMoved)="onSplideMoved($event)">
                    <splide-slide *ngFor="let image of images">
                        <img [src]="image.src" alt="" />
                    </splide-slide>
                </splide>
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Events</h1>
                <p>Open console to see events</p>
            </div>
        </div>
    </div>
</main>
